<!-- Header -->
<div class="intro-header">
  <div class="rgba">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>WeBook
              <small>Library</small>
            </h1>
            <h3>Tus libros son parte de la imaginación</h3>
            <h4>
              <em>¡Nosotros los hacemos realidad!</em>
            </h4>
            <br>
            <a routerLink="store" class="button primary large js-btn-add">Ir a la tienda</a>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
</div>
<!-- /.intro-header -->

<div class="row">
  <div class="small-12 colums">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2 class="section-heading text-center">Acerca de WeBook:</h2>
    <p style="text-align: justify" class="lead">WeBook es un sitio diseñado para que desde la comodidad de tu hogar puedas consultar nuestro material disponible, tanto
      en nuestra tienda física como en nuestra plataforma online.
      <br> Además puedes realizar pedidos de titulares nacionales e internacionales, clásicos o modernos.
      <br>
    </p>
  </div>
  <div class="text-center">
    <img class="img-responsive" src="https://www.terkko.helsinki.fi/booknavigator/assets/img/Book4.png" alt="">
  </div>
</div>

<div class="text-center">
  <hr>
  <blockquote>
    <p>
      <em style="color: black">
        "La mente que se abre a una nueva idea, jamás volverá a su tamaño original"
      </em>
    </p>
    <p style="color: black">Albert Einstein</p>
  </blockquote>
  <hr>
</div>