<h3>Agregar un libro</h3>


<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label> Título libro
          <input type="text" placeholder="">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Autor
          <input type="text" placeholder="">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Descripción
          <textarea name="" id="" cols="30" rows="5"></textarea>
        </label>
      </div>
      <div class="medium-3 cell">
        <label>Precio
          <input type="number" placeholder="" max="1000" min="0">
        </label>
      </div>
      <div class="medium-3 cell">
        <label>Imagen
          <input type="file" name="" id="">
        </label>
      </div>
      <br>
      <div class="medium-6">
        <a class="warning button large expanded" routerLink="/edit">Agregar libro</a>
      </div>
    </div>
  </div>
</form>

<br>
<br>
<br>
<br>